.container{
    display: flex;
    flex-wrap: wrap;
}

.showcase{
    width: 100%;
    overflow: hidden;
    padding-top: 0;
}

.showcase video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #413543;
    background: #D8D8D8;
    mix-blend-mode: multiply;
    margin-top: unset;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .showcase{
        width: 100%;
        overflow: hidden;
        padding-top: 0;
    }

    .showcase video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    .title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #413543;
        background: #D8D8D8;
        mix-blend-mode: multiply;
        margin-top: unset;
        font-family: 'Comfortaa', cursive;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .showcase{
        width: 100%;
        overflow: hidden;
        padding-top: 0;
    }

    .showcase video{
        position: absolute;
        height: 189%;
        width: 188%;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    .title{
        position: absolute;
        top: 0;
        left: 0;
        width: unset;
        height: 189%;
        font-size: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #413543;
        background: #D8D8D8;
        mix-blend-mode: multiply;
        margin-top: unset;
        font-family: 'Comfortaa', cursive;
        text-align: center;
    }
}

